@media only screen and (max-device-width: 1366px) {
    .hero-img{
        background-attachment: scroll;
    }
}
@media only screen and (max-device-width: 900px) {
    .responsive-img{
        max-height: 200px;
    }
}

@media (max-width: 768px) 
{
    .fase h2 {
        font-size: 3.9em;
        margin-top: 30px;
    }

    .row-sobre{
        display: block;
    }

    .row-sobre .details{
        margin: 50px 0px;
    }

    .hero-img .container{
        display: flex;
    }

    .hero-img .flow-text{
        margin-top: auto;
    }

    .hero-img .col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .hero-img .col a{
        margin-bottom: 30px;
    }

    .row-footer{
        flex-direction: column;
    }

    .row-footer .col{
        margin-bottom: 30px;
    }

    .row-footer .col:last-child{
        margin-bottom: 10px;
    }

    .row-footer .telefone-text{
        font-size: 2.5em;
        margin-bottom: 30px;
    }

    #conheca h1{
        font-size: 4.5em;
    }

    .sobre-info p:last-child{
        margin-bottom: 1em;
    }

    .carousel-texto h2{
        font-size: 4em;
    }

    .slick-dots{
        display: block;
        height: fit-content;
        justify-content: center;
        margin: 0;
        top: 30px;
        left: 30px;
    }

    .carousel-inner{
        display: block;
        padding: 0px;
        padding-top: 100px;
    }

    .slick-dotted.slick-slider{
        height: fit-content;
    }

    .slick-list{
        height: none;
    }

    .slick-current{
        height: fit-content !important;
    }

    /* .multiple-items .item{
        height: fit-content;
    } */

    .multiple-items .item .container{
        height: fit-content;
    }

    .multiple-items .item .container .row{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    
    .slick-slide img{
        min-height: 400px;
        min-width: 460px;
    }

    .carousel-inner .col-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .short1{
        background-color: #f06650;
        color:#f4e7db;
    }

    .short2{
        background-color: #faa61a;
        color:#f7e4c5;
    }

    .short3{
        background-color: #c57eae;
        color:#eed6ca;
    }

    .short4{
        background-color: #f3e7da; color: #bc7b10;
    }

    .input-format{
        width: 100%  !important;
        display: block;
    }

    .inputs-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .margin-right-form{
        margin-right: 0px !important;
    }
    
    .fase{
        height: unset;
        min-height: 500px;
    }
}