
@font-face {
    font-family: BellfortRegular;
    src: url(../fonts/bellfortpressregular-webfont.woff2);
}

@font-face {
    font-family: BurfordRegular;
    src: url(../fonts/BurfordRusticBook-Regular2.otf);
}

.sidenav{
    min-width: 35%;
}

.sidenav-overlay{
    background-color: rgba(0, 0, 0, 0.3);
}

.sidenav-close object{
    width: 50px;
    pointer-events: none;
}

.sidenav li{
    margin-bottom: 35px;
    margin-right: calc(100vw * 0.1);
}

.sidenav li>a{
    line-height: 0.8 !important;
    text-align: right;
    display: block;
    width: fit-content;
    margin-left: auto;
    padding: 0;
    transition: 0.3s ease;
}

.sidenav li>a:hover{
    background-color: unset;
    color: #006a3f !important;
}

.li-close{
    margin-top: calc(100vh * 0.15);
}

.chamada-header{
    margin-bottom: 35px;
}

.texto-marrom {
    color: #5e4630
}

.texto-verde{
    color: #57b98f;
}

.texto-laranja{
    color: #f0a11e;
}

.texto-branco{
    color: #f8f1eb;
}

.texto-verde-escuro{
    color: #0c8451;
}

.texto-verde-escuro .my-link{
    color: #0c8451;
    text-decoration: underline;
    font-weight: 600;
}

.fundo-verde{
    background-color: #57b98f;
}

.no-padding{
    padding: 0px;
}

.margin-right-form{
    margin-right: 20px !important;
}

.input-format{
    font-weight: bold;
    font-family: 'Open Sans';
    padding: 5px !important;
    padding-left: 30px !important;
    margin-bottom: 20px !important;
    width: 350px !important;
}

.fase label{
    margin-top: 10px
}

.telefone-text{
    font-size: 2em;
    font-family: 'BurfordRegular', sans-serif;
    margin: 0;
    margin-bottom: 10px;
}

.footer-link{
    margin-bottom: 10px;
}

.footer-link:last-child{
    margin-bottom: 0px;
}

.footer-link a{
    text-decoration: underline !important;
}

.open-sans{
    font-family: 'Open Sans';
}

.my-bold{
    font-weight: 600;
}

.bellfort-regular{
    font-family: 'BellfortRegular';
}

.burford-regular{
    font-family: 'BurfordRegular';
}

.fundo-bege{
    background-color: #f9f0e8;
}

.fundo-laranja{
    background-color: #F9B16B;
}

.fundo-laranja-claro{
    background-color: #f9b16b;
}

.fundo-amarelo{
    background-color: #f9ba50;
}

.fundo-roxo{
    background-color: #b55696;
}

.row-sobre{
    display: flex;
    align-items: center;
    padding: 100px 0px
}

.row-cadastro{
    margin: 25px !important;
    background-color: #82c7a9;
}

.sobre-info p{
    font-size: 1.8em
}

#conheca h1{
    margin: 0;
    font-size: 5.5em;
    line-height: 0.9;
}

.ml-auto{
    margin-left: auto !important;
    margin-right: 0px !important;
}

.mr-auto{
    margin-right: auto !important;
    margin-left: 0px !important;
}

.m-auto{
    margin: auto !important;
}

.carousel-texto h2{
    font-size: 5em;
    margin-top: 0;
    line-height: 0.9;
}

.carousel-inner{
    display: flex;
    align-items: center;
    padding: 100px 0px;
    height: 100%;
}

.multiple-items{
    height: 100vh;
}

.multiple-items .item{
    height: 100%;
    overflow: hidden;
}

.slick-list{
    height: 100%;
}

.slick-slide > div{
    height: 100%;
}

.slick-current{
    margin-top: -1px;
    height: calc(100vh + 1px) !important;
}

.multiple-items .item .container{
    height: 100%;
}

.multiple-items .item .container .row{
    height: 100%;
}

.my-btn{
    padding: 15px 35px 25px 35px;
    color: white;
    font-family: 'BurfordRegular';
    font-size: 1.7em;
    box-shadow: inset 0px -7px 0px -2px rgba(0,0,0,0.3) !important;
    min-width: 210px;
    text-align: center;
    transition: 0.3s ease;
}

.my-btn:hover{
    box-shadow: inset 0px -70px 0px -2px rgba(0,0,0,0.2) !important;
}

.modal-content{
    color: black;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.modal-content h2{
    font-family: 'BurfordRegular';
    font-size: 2em;
}

.modal-content h3{
    font-family: 'BurfordRegular';
    font-size: 1.5em;
}

.fase h2{
    font-size: 6em;
    margin-top: 100px;
    line-height: 0.9;
}

.fase-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slick-dots li{
    width: unset;
    height: unset;
}

.slick-active .dot{
    background: rgba(0,0,0,0.4);
}

.dot{
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.3);
    display: block;
    border-radius: 50%;
    margin: 5px 0px;
}

.dot.excecao{
    background: #f9ba50;
}

.slick-active .dot.excecao{
    background: #bc7b10;
}

.footer-info{
    display: flex;
    align-items: center;
}

.row-footer{
    display: flex;
    align-items: center;
}

.row-footer object{
    width: 25px;
    margin-left: 10px;
}

.tel-icon-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tel-icon-footer p{
    font-size: 1.1em;
    margin-bottom: 10px;
}

.my-link{
    color: #f8f1eb;
    text-decoration: unset;
}

html {
    scroll-behavior: smooth;
  }
      html, body {
          max-width: 100%;
          color: #f8f1eb;
          overflow-x: hidden;
          font-family: 'Open Sans', sans-serif;
          background-color: #57b98f;
      }
  .btnfitness {
      padding: 0px 25px 0px 25px;
      color: #0c8451;
      background-color: #57b98f;
      text-decoration: none;
      margin: 0px 5px 7px 0px;
      border: 0;
      line-height: 50px;
      font-weight: 500;
  }
  
  .btnfitness-w {
      padding: 0px 25px 0px 25px;
      color: #0c8451;
      background-color: #fff;
      text-decoration: none;
      margin: 0px 5px 7px 0px;
      border: 0;
      line-height: 50px;
      font-weight: 500;
  }
  .slick-dotted.slick-slider {
      margin-bottom: 0 !important;
      height: 100vh;
  }
  .slick-dots {
      position: absolute;
       bottom: 10px !important; 
      display: block;
      width: 100%;
      padding: 0;
      margin-left: 50px;
      list-style: none;
      text-align: center;
  }
  
  .slick-dots li button:before {
      font-family: 'slick';
      font-size: 50px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      opacity: .25;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .btn {
      font-family: 'Fjalla One', sans-serif !important;
      font-size: 1em;
      font-weight: 600;
      min-width: 131px;
      letter-spacing: 3px;
      min-height: 57px;
      -webkit-box-shadow: inset 0px -7px 0px -2px rgba(0,0,0,0.3) !important;
      -moz-box-shadow: inset 0px -7px 0px -2px rgba(0,0,0,0.3) !important;
      box-shadow: inset 0px -7px 0px -2px rgba(0,0,0,0.3) !important;
      border-radius: 0;
      padding: 10px;
      box-shadow: none;
      font-weight: 600;
  }

  .topbar-content{
    background: #57b98f;
    padding: 10px 0px
  }

  .topbar{
      
      color: #fff
  }

  .topbar-inner{
    display: flex;
    justify-content: space-between;
  }

  .topbar a{
      color: #fff;
      text-decoration: underline;
  }

  .topbar object{
      width: 25px;
      margin-right: 15px;
  }

  .topbar svg{
      fill: white
  }

  .topbar-links{
      display: flex;
      align-items: center;
  }


  .slick-dots{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: fit-content;
    margin-top: 0;
  }

  .no-margin{
      margin: 0
  }

  .hamburguer {
    position: fixed;
    right: calc(10% - 10px);
    top: calc(15% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 1;
    transition: 0.3s ease;
  }

  .hamburguer.fundo{
    background: rgb(94, 70, 48, 0.2);
  }

  .hamburguer-link {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
  }

  .hamburguer-link object{
    width: 100%;
    pointer-events: none;
  }

  .text-item{
      padding: 0 !important
  }

.hero-img{
    background-image: url(../img/banner.png);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.hero-img .col{
margin-top: 50px;
}

.fase{
    height: 600px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 2px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after{
    top: 2px;
    border-radius: 0px;
    background-color: #57b98f;
    border: unset;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{
    top: 2px;
    border-radius: 0px;
    background-color: #57b98f;
    border: unset;
}

.button-hero{
    min-height: 100vh !important;
    margin-top: 30px;
    background-color: #f06650;
    font-family: 'botoes';
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: unset;
}
.flow-text{
    font-weight: 600;
    margin-top: 30%;
    font-size: 2.5em;
    line-height: 1.2em;
}
.info{
    font-size: 1.5em;
    line-height: 1.3em;
}
.page-footer{
    padding: 0 !important;
    background-color: transparent;
}

.teal.lighten-3{
    background-color: #57B98F !important;
}
.min-altura{
    height: 12em;
}
.divider{
    -webkit-box-shadow: inset 0px 10px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 10px 0px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 10px 0px 0px rgba(0,0,0,0.2);
    width: 100px;
    min-height: 5px;
    margin: 20px 0px 20px 0px;
    background-color: transparent;
}

.bg-flower {
    background-image: url(../img/bottom-tree.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.input-opt{
    border: 0 !important;
    color: #1c8959 !important;
    background-color: #57b98f !important;
}

::-webkit-input-placeholder { /* Chrome */
color: #1c8959;
}
:-ms-input-placeholder { /* IE 10+ */
color: #1c8959;
}
::-moz-placeholder { /* Firefox 19+ */
color: #1c8959;
opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
color: #1c8959;
opacity: 1;
}
.green-text{
    color: #57B98F !important;
}
.orange.lighten-3{
    background-color:  #F9B16B !important;
}

.texto-menu{
    font-family: 'BurfordRegular', sans-serif !important;
    color: #fff !important;
    font-size: 3em !important;
    text-transform: uppercase;
}